## Copyright (C) 2018 - 2018 ENCRYPTED SUPPORT LP <adrelanos@riseup.net>
## Copyright (C) 2018 Algernon <33966997+Algernon-01@users.noreply.github.com>
## See the file COPYING for copying conditions.

Source: ro-mode-init
Section: misc
Priority: optional
Maintainer: Algernon <33966997+Algernon-01@users.noreply.github.com>
Build-Depends: debhelper (>= 12), genmkfile
Homepage: https://github.com/Whonix/ro-mode-init
Vcs-Browser: https://github.com/Whonix/ro-mode-init
Vcs-Git: https://github.com/Whonix/ro-mode-init.git
Standards-Version: 4.3.0

Package: ro-mode-init
Architecture: all
Provides: boot-live
Depends: live-boot, live-config-systemd, live-boot-initramfs-tools, live-tools, ${misc:Depends}
Replaces: grub-live, grub-default-live
Description: Detects read-only disks and automatically enables live-boot
 Allows booting the system in live mode. Meaning, no persistent modifications
 will be written to the disk. All changes stay in RAM.
 .
 No claims are made with regard to anti forensics.
